.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* shared style*/
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.dark-5{
    color: #D1D1D1;
}

.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}
.btn-sectiondery{
    border: 1px solid #FD6E0A;
    width: 160px;
    height: 64px;
    margin-left: 30px;
    background-color: #FFF8F3;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    color:#181818;
}

.section-description{
    font-size: 18px;
}

.text-center{text-align: center;}

.item-description{
    font-weight: bold;
}


/* header */
header {
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center left 20px, bottom right;
  background-color: #FFF8F3;
}

/* nav styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 226px ;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}


nav ul li{
    list-style: none;
    margin-right: 51px;
}


nav li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}


/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin: 185px 0 0 0;
}

.banner-profile-pic{
    width: 584px;
    height: 676px;
}

.banner-content{
    max-width: 580px;
}

.button1{margin-top: 30px;}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about section */


.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    margin-top: 130px;
    text-align: center;

}



.about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;

}

.about-in{
    background-color: white;
    border: 1px solid black;
}

.what-i-do{
    margin-top: 130px;
}

.what-i-do p{margin-top: 30px;}

/* skills */
.skills-container{display: flex;
margin-top: 50px;
justify-content: space-around;
gap: 24px;
}
.skill{width: 267px;
    height: 377px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{ 
    width: 44px;
    height: 44px;
    margin: 30px;
}

.skill-title{padding-left: 30px;}

.skill-discription{
    margin: 20px 33px 33px 30px;
}


/* CV */


.cv-heading{
    margin: 130px 0px 113px 0px;
}

.colum-title{
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

.resume-content{
    display: flex;
    /* padding-left: 230px; */
    gap: 24px;
    /* justify-content: space-between; */

}



/* .colum-1{
    margin-left:230px; 
} */

.colum-2{margin-left: 24px;}

.box-heading{
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0 10px 0;
}

.sub-heading{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 0;
}

.box{
    margin-bottom: 30px;
    padding-right: 47px;
}

.btn-cv{
    margin: 50px 0 113px 0;
}

#call{
    width: 19.5px;
    height: 19.5px;
}


/* footer */

footer{
    background-color:#FFF8F3;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    gap: 117px;
}

.sec1{margin-left: 230px;
    margin-top: 130px;
    width: 562px;
    height: 56px;
}

.sec1 img{
    margin: 30px 24px 0 24px;
}

#facebook{
    margin-left: 0;
}


.sec2{
    margin-top: 130px;
}

.form-element{
    margin: 24px 0 24px 0;
    width: 461px;
    height: 64px;
    font-size: 18px;
    padding: 18px 0 18px 30px;
    border: none;
    border-radius: 5px;

}

.textarea{
    width: 461px;
    height: 180px;
    
}

.btn-form{
    margin: 24px 0px 130px 0;
}